<section>
<h1>
  <li><span class="icon-user-md" style="text-align: left; width: 100%">&nbsp;
            Tentang Saya
            </span>
        </li>
  </h1>
  <p>saya biasa di panggil <strong>as'ary</strong>, 
  lulusan D3 Manajemen Informatika, Politeknik Negeri Banjarmasin, yang saat ini melanjutkan S1 di STMIK Banjarmasin.</p>
<p>
    <ul>
        <li>
            <span class="icon-phone" style="text-align: left; width: 100%">&nbsp;
            +62 823 58195 939
            </span>
        </li>
        <li>
            <span class="icon-envelope" style="text-align: left; width: 100%">&nbsp;
                <a href="mailto:as.ary29@gmail.com">as.ary29@gmail.com</a>
            </span>
        </li>
        <li>
            <span class="icon-twitter" style="text-align: left; width: 100%">&nbsp;
                <a href="https://twitter.com/as_ary29">@as_ary29</a>
            </span>
        </li>
        <li>
            <span class="icon-github" style="text-align: left; width: 100%">&nbsp;
                <a href="https://github.com/bacatulis">github.com/bacatulis</a>
            </span>
        </li>
        <li>
            <span class="icon-facebook" style="text-align: left; width: 100%">&nbsp;
                <a href="https://www.facebook.com/asary29">facebook.com/asary29</a>
            </span>
        </li>
        <li>
            <span class="icon-linkedin" style="text-align: left; width: 100%">&nbsp;
                <a href="http://id.linkedin.com/pub/as-ary-ramadhan/90/a6a/507/">LinkedIn</a>
            </span>
        </li>
    </ul>
</p>
</section>

