<section>
  <h1>Daftar Pustaka</h1>
  <p>
    <ul>
        <li>
            <span class="icon-book" style="text-align: left; width: 100%">&nbsp;
            Kadir, Abdul, 1999, <I>Algoritma Pemograman Dengan Java</I>, Andi Offset
	    Yogyakarta.
            </span>
        </li>
	<li>
            <span class="icon-book" style="text-align: left; width: 100%">&nbsp;
            Wahana Komputer, 2007, Menguasai Java Programing, Salemba Infotek
	    Semarang.
            </span>
        </li>
	<li>
            <span class="icon-book" style="text-align: left; width: 100%">&nbsp;
            Sianipar, R.H., 2007, JAVA Algoritma, Struktur Data, dan Pemograman GUI, Informatika Bandung
	    Bandung.
            </span>
        </li>
    </ul>
</p>

</section>

